<%-include('head')-%>
  <body>
    <%-include('header')-%>
    <div class="container about">
      <div class="user-profile">
        <div class="prof-photo">

        </div>
        <div class="title-block">
          <h1>Profile</h1>
          <div class="content-about">
            <div class="container intro-section">
                <div class="intro">
                  <div class="profile"></div>
                  <div class="profile-text">
                    <div><h1>Rajesh Kanahr</h1></div>
                    <p style="color:limegreen;">Coading Enthusiast,Quick learner, Web developer</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="education">
        <div class="title-block">
          <h1>Education Details</h1>
          <div class="content-about">
            <div><h2>Recent</h2></div>
            <p>B.tech(CE) at National Institute of Science and Technology, Berhampur, Odisha</p>
            <span><p>Aggregate:7.8 CGPA</p>Year Of Passing:2019</span>
            <div><h2>Intermediate</h2></div>
            <p>R.C.M Junior science college, khallikote, ganjam, odisha</p>
            <span><p>Aggregate:63.33%</p>Year Of Passing:2015</span>
            <div><h2>School</h2></div>
            <p>Sri Aurobindo Integral Education Center</p>
            <span><p>Aggregate:83.17%</p>Year Of Passing:2013</span>
          </div>
        </div>
        <div class="ed-photo">

        </div>
      </div>
      <div class="skills">
        <div class="sk-photo">

        </div>
        <div class="title-block">
          <h1>Skills</h1>
          <div class="content-about">
            <ul>
              <li><h2>C Programming</h2></li>
              <li><h2>Java</h2></li>
              <li><h2>Web Development</h2>
                <ul class="flex-box">
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>JavaScript</li>
                  <li>Bootstrap</li>
                  <li>Jquery</li>
                  <li>Ajax</li>
                </ul>
              </li>
              <li><h2>EJS</h2></li>
              <li><h2>Rest API</h2></li>
              <li><h2>Node js</h2></li>
              <li><h2>Express js</h2></li>
              <li><h2>React js</h2></li>
              <li><h2>MongoDB</h2></li>
              <li><h2>Oracle 11g</h2></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="projects">
        <div class="title-block">
          <h1>Projects</h1>
          <div class="content-about">
            <ul class="project">
              <li><h2>ToDoList web app to store and organize your daily Notes.</h2></li>
              <li><h2>Crown shopping web app using React,Redux and Firebase.</h2></li>
              <li><h2>Personal WebSites.</h2></li>
            </ul>
          </div>
        </div>
        <div class="pr-photo">

        </div>
      </div>
    </div>
<%-include('footer')-%>
