
<!---footer--->
<div class="footer">
  <div class="row mb-5">
    <div class="col-md">
      <div class="mb-4">
        <h2 class="ftr-heading">About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="col-md">
      <div class="mb-4 ml-md-5">
        <h2 class="ftr-heading">Information</h2>
        <ul class="list">
          <li><a href="#">Rajesh</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md">
       <div class="mb-4">
        <h2 class="ftr-heading">Links</h2>
        <ul class="list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md">
      <div class="mb-4">
        <h2 class="ftr-heading">Have a Questions?</h2>
        <div class="mb-3">
          <ul class="list">
            <li><i class="fab fa-map-marker"></i><span class="text">Main Street, Khallikote , 761031, Ganjam, Odisha, India</span></li>
            <li><a href="#"><i class="fab fa-phone"></i><span class="link">+91 8457077360</span></a></li>
            <li><a href="#"><i class="fab fa-envelope"></i><span class="link">rajeshkanhar.rk10@gmail.com</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id='Contact'>
    <i class="fab fa-facebook-f social-icon"></i>
    <i class="fab fa-twitter social-icon"></i>
    <i class="fab fa-instagram social-icon"></i>
    <i class="fa fa-envelope social-icon"></i>
  </div>
  <div class="container end-text">
    Copyright@2020 A Rajesh Kanhar Creation:
  </div>
</div>
</body>
</html>
