<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!---fontfamily--->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7ab9f7166a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!---bootstrap stylesheet--->
    <link rel="stylesheet" href="home.styles.css">
    <link rel="stylesheet" href="footer.styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!---bootstrap jquery--->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../lib/jquery.js"></script>
    <script type="text/javascript" src="../lib/jquery.loadTemplate-1.4.4.min.js"></script>
  </head>
  <body>

    <!---navbar--->
      <nav class="navbar navbar-expand-lg nav-container">
        <a class="navbar-brand" href="/">R.k.Sidharth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span style="color:white;"><i style="color:red;" class="fas fa-chevron-circle-down"></i>MENU</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="/About">About</a>
             <a class="nav-item nav-link" href="/Gallery">Gallery<span class="sr-only">(current)</span></a>
             <a class="nav-item nav-link" href="/Posts">Posts</a>
             <a class="nav-item nav-link" href="#Contact">Contact</a>
           </div>
         </div>
      </nav>

    <main class="main">
      <h1 class="vr text-center">Rajesh</h1>
        <!--containers--->
        <div id="carouselExampleSlidesOnly" class="carousel slide container1" data-ride="carousel">
          <div class="carousel-inner container1">
            <div class="carousel-item active main-img">
              <img class="d-block w-100 main-img1">
            </div>
            <div class="carousel-item main-img">
              <img class="d-block w-100 main-img2">
            </div>
          </div>
        </div>
        <div class="container2">
        </div>
      </main>
      <!--- Intro--->
      <div class="container intro-section">
          <div class="intro">
            <div class="profile"></div>
            <div class="profile-text">
              <div style="color:red;"><h1>It's</h1></div>
              <div><h1>Rajesh Kanahr</h1></div>
              <p style="color:limegreen;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div>
          </div>
      </div>
      <!---Description--->
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 ed-card">
            <i class="fas fa-laptop-code fa-5x"></i>
            <h1>Coading Enthusiast</h1>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
          <div class="col-lg-3 col-md-6 ed-card">
            <i class="fas fa-layer-group fa-5x" style="color:white;"></i>
            <h1>Web Development</h1>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
          <div class="col-lg-3 col-md-6 ed-card">
            <i class="fab fa-node fa-5x"></i>
            <h1>Node.js</h1>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
          <div class="col-lg-3 col-md-6 ed-card">
            <i class="fab fa-react fa-5x"></i>
            <h1>React</h1>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>

      <!---thoughts--->
      <div class="container-fluid th">
        <div class="container thoughts">
          <div class="th-img1">

          </div>
          <div class="message-box">
            <div class="message">
              <h1>Nothing Else Matters</h1>
              <p>A small river named Duden flows by their place and supplies.</p>
            </div>
          </div>
        </div>
        <div class="container thoughts">
          <div class="message-box">
            <div class="message">
              <h1>November Rain</h1>
              <p>A small river named Duden flows by their place and supplies.</p>
            </div>
          </div>
          <div class="th-img2">

          </div>
        </div>
      </div>
      <!---context section--->
      <div class="memo-button container">
        <a href="/Gallery"><button class="btn"><h1>Memories</h1></button></a>
      </div>

      <div class="container-fluid card-container-memories">
        <div class="card cards " style="width: 18rem;">
          <div class="card-img"><img class="card-img-top" src="manali.JPG"></div>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Manali</a>
          </div>
        </div>

        <div class="card cards " style="width: 18rem;">
          <div class="card-img"><img class="card-img-top" src="travel.JPG"></div>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Travel</a>
          </div>
        </div>

        <div class="card cards " style="width: 18rem;">
          <div class="card-img"><img class="card-img-top" src="college.JPG"></div>
          <div class="card-body">
            <a href="#" class="btn btn-primary">College</a>
          </div>
        </div>

        <div class="card cards " style="width: 18rem;">
          <div class="card-img"><img class="card-img-top" src="hyd.JPG"></div>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Hyderabad</a>
          </div>
        </div>

      </div>
      <!---message--->
        <div class="container">
          <div class="ending-message">
            <div><h1>Live Smart Play Smart</h1></div>
            <p>Never Give Up...</p>
          </div>
        </div>
    <%-include("footer")-%>
