
.ending-message{
  margin-bottom: 60px;
  text-align: center;
  margin-top: 100px;
  font-family: 'Loto';
}
.footer{
  height:fill-available;
  width: auto;
  background-color: black;
  text-align: center;
  color: #ffff;
  margin-top: 50px;
  padding: 20px;
}
div.container.end-text{
  text-align: center;
  border-top: 2px solid grey;
  margin-top: 30px;
  margin-bottom: 10px;
}
